body {
    color: #c3939b;
}

.page-home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-main-banner {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 1px 2px 5px 3px rgb(182, 182, 182);
}

.box-balance {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
}

.text-balance {
    color: #c3939b;
}

.card-balance {
    border: 2px solid #C8C8C8;
    padding: 5px 50px;
    font-size: 18px;
    font-weight: bold;
    color: #8C8C8C;
    box-shadow: 1px 2px 4px 1px rgb(182 182 182);
}

.box-table {
    display: flex;
    justify-content: center;
}

.title-button {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.table-striped {
    border-style: none;
    width: 100%;
    border-collapse: separate;
    text-align: center;
    vertical-align: baseline;
    font-size: 0.6em;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border-color: inherit;
    border-style: none;
}

th {
    padding: 0rem 0rem !important;
}

button.btn-add {
    margin-bottom: 10px;
    background-color: #ffffff;
    color: #c3939b;
    border-radius: 5px;
    padding: 10px;
    border: none;
    transition: all 600ms;
}

button.btn-add:hover {
    background-color: #c3939b;
    color: #ffffff;
}

button.btn-add :not(:disabled) {
    cursor: pointer;
}

.btn-edit {
    border-style: none;
    background: none;
    color: #8C8C8C;
    text-decoration: none;
}

.btn-delete {
    border-style: none;
    background: none;
    color: #c3939b;
    text-decoration: none;
}

.page-register {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.title-register {
    display: flex;
    flex: 100%;
    justify-content: center;
}

.box-btn-save, .box-btn-back {
    display: flex;
    justify-content: center;
}

.box-btn-save{
    margin-top: 25px;
}

.btns-register {
    background-color: #ffffff;
    color: #c3939b;
    border: 2px solid #c3939b;
    border-radius: 5px;
    padding: 10px;
    transition: all 600ms;
}

.btns-register:hover {
    background-color: #c3939b;
    color: #ffffff;
}

/***********************************/

.form-floating {
    display: block;
}


/*************** START MEDIA QUERY ***************/


@media screen and (min-width:375px) {

    .table-striped {
        font-size: 0.7em;
    }
}

@media screen and (min-width:420px) {

    .table-striped {
        font-size: 0.85em;
    }
}

@media screen and (min-width:520px) {

    .table-striped {
        font-size: 1em;
    }
}
